* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

main {
    margin: 20px;
}

#recommendation-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
